pandas
numpy
matplotlib
seaborn
scikit-learn
nltk
langchain
sentence-transformers
chromadb
faiss-cpu
gradio
streamlit
huggingface_hub
python-dotenv
pyarrow
fastparquet
gdown

# Testing and Development
pytest
pytest-cov
black
flake8
